{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center" role="alert">
                <h4 class="alert-heading">Email Sent!</h4>
                <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
                <hr>
                <p class="mb-0">If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>
            </div>
            <div class="text-center">
                <a href="{% url 'auth' %}" class="btn btn-primary">Back to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
