{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center" role="alert">
                <h4 class="alert-heading">Password Reset Complete!</h4>
                <p>Your password has been set. You may go ahead and log in now.</p>
                <hr>
                <a href="{% url 'auth' %}" class="btn btn-primary">Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
